.gamescreen{
    height: 100vh;
    position: relative;

    @include vertical-center;

    &__score{
        position: absolute;
        top:95%;
        left: 2%;

        color: yellow;
        font-size: 2.5rem;
    }

    &__presenter-talk{
        background-color: white;
        border-radius: 2rem;
        font-size: 1.6rem;
        font-weight: 700;
        height: 8rem;
        margin-top: -15rem;
        position: relative;
        width: 22rem;

        @include vertical-center;

        @media all and (min-width: 767px){
            margin: 0 10rem 9rem 0;
            height: 12rem;
            
            width: 27rem;
        }
    }

    &__question, &__answer{
        background-color: black;
        border: 3px solid white;
        border-radius: 4rem;
        color: white;
        padding: 1.5rem 2rem;
        
    }

    &__question{
        font-size: 1.6rem;
        text-align: center;
        margin: 2rem 0;
        position: relative;
        width: 80%;
        @media all and (min-width: 1023px){
            font-size: 1.8rem;
            height: 5rem;
            width: 55%;
        }
    }

    &__answers{
        width: 55%;

        @media all and (min-width: 1023px){
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            height: 5rem;

            p{
                font-size: 1.4rem;
            }
        }
    }

    &__answer{
        cursor: pointer;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        @media all and (min-width: 1023px){
            flex: 1;
        }
    }

    &__presenter{
        display: none;
        position: absolute;
        @media all and (min-width: 767px){
            display: block;
            top:-10rem;
            left: 100%;
            height: 30rem;

            img{
                max-height: 100%;
            }
        }
    }

}