.welcomescreen{

    height: 100vh;
    width: 100%;
    @include vertical-center;

    display: flex;
    flex-direction: column-reverse;
    @media all and (min-width: 1023px){
        flex-direction: row;
    }

    &__history{
        width: 27rem;
        background-color: white;
        border-radius: 2rem;
        border: 5px dotted purple;
        font-size: 1.2rem;
        margin-top: 2rem;
        height: 15rem;
        overflow-y: scroll;
        text-align: center;

        h2{
            font-size: 1.6rem;
        }

        @media all and (min-width: 1023px){
            height: 20rem;
            margin-right: 8rem;
            margin-top: -22rem;
        }

       
    }

    &__banner{
        background-color: purple;
        border: 5px dotted white;  
        border-radius: 2rem; 
        margin-top: -8rem;
        margin-bottom: 3rem;
        padding: 2rem 7rem;
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        color: white;
        font-size: 7rem;
    }

    &__subtitle{
        color: yellow;
        font-size: 3rem;
    }

    &__input-div{
        border: 1px solid purple;
        border-radius: 2rem;
        overflow: hidden;
        width: 25rem;
    }

    &__input{
        background-color: white;
        border: none;
        font-size: 1.5rem;
        padding: 1.5rem;
        text-align: center;
        width: 100%;

        &:focus{
            outline: none;
        }
    }

    &__button-div{
        border: 1px solid purple;
        border-radius: 2rem;
        margin-top: 2rem;
        overflow: hidden;
        text-align: center;
        width: 15rem;
    }

    &__button{
        background-color: yellow;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 1rem 0;
        transition: all .2s;
        width: 100%;

        &:hover{
            background-color: darken(yellow, $amount: 10);
        }
    }

}